@model ModelForUserPages

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ModernNest</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/myProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap" rel="stylesheet">
    <style>
        body {
            background-color:#fefefe;
            font-family: 'Montserrat', sans-serif;
            font-family: "Arapey", serif;
        }
    </style>
</head>


<body>
    <header class=" d-flex justify-content-center" style=" font-family: " Montserrat", sans-serif;">
        <nav class="navbar navbar-expand-md col-md-10 border-bottom box-shadow mb-3" >
            <div class="container">
                <!-- Logo with image -->
                <a class="navbar-brand" href="/Guest">
                    <img src="~/images/logooo3.png" alt="Your Logo" height="90">
                </a>

                <!-- Toggle button for mobile -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent" style="font-size:21px;">
                    <ul class="navbar-nav me-auto mb-2 gap-3"  style="margin-left:30px;">
                        <!-- Main categories -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Guest">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Guest" asp-action="ProductsByCategory" asp-route-categoryyy="all">All Products</a>
                        </li>
                        @{
                            ModelForUserPages categoriesModel = new ModelForUserPages();
                            var furnitureCategories = categoriesModel.GetAllFurnitureCategories();
                            var decorationCategories = categoriesModel.GetAllDecorationCategories();



                            <!-- Furniture Section -->
                            <div class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-controller="Guest" asp-action="ProductsByCategory" asp-route-categoryyy="Furniture">
                                    Furniture
                                </a>
                                <ul class="list-unstyled small-list p-2">
                                    @foreach (var categoryyy in furnitureCategories)
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-controller="Guest" asp-action="ProductsByCategory" asp-route-categoryyy="@categoryyy.CategoryName" style="margin-top:-15px;">
                                                <i class="las la-caret-right" style="margin-right:3px; color: #969696;"></i>
                                                <span style="color: #969696;">
                                                    @categoryyy.CategoryName
                                                </span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <!-- Decoration Section -->
                            <div class="nav-item dropdown">
                                <a class="nav-link text-dark" asp-controller="Guest" asp-action="ProductsByCategory" asp-route-categoryyy="Decoration">
                                    Decoration
                                </a>
                                <ul class="list-unstyled small-list p-2">
                                    @foreach (var categoryyy in decorationCategories)
                                    {
                                        <li>
                                            <a class="nav-link text-dark" asp-controller="Guest" asp-action="ProductsByCategory" asp-route-categoryyy="@categoryyy.CategoryName" style="margin-top:-15px;">
                                                <i class="las la-caret-right" style="margin-right:3px; color: #969696;"></i>
                                                <span style="color: #969696;">@categoryyy.CategoryName</span>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </ul>
                </div>

                <!-- Right-aligned items -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <!-- Search Button -->
                    @{
            /*
        <div class="container col-md-8">
        <form class="d-flex ">
        <input class="form-control me-2 no-outline" type="search" placeholder="Search for Product..." aria-label="Search">
        <button class="btn btn-outline-primary search-button" style="border: 1px solid black" type="submit"><i class="las la-search" style="color:black;"></i></button>
        </form>
                        </div> */
                    }

                    <ul class="navbar-nav col-md-3">
                        <li class="nav-item d-flex">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index" style="font-size:20px;">
                                <i class="la la-user"></i> Login
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <!-- Site Information -->
    <div class="container  p-5 d-flex flex-column justify-content-between" style="background-color: #f1f1f1;  margin-bottom:-100px;  margin-top:200px;">
        <div class="row mb-5">
            <div class="col-md-6 p-3">
                <h5 style="border-bottom:1px solid black;">About Us</h5>
                <p>Welcome to Our Furniture Sales Site! Explore a wide variety of furniture items for your home and office. Our selection includes desks, tables, sofas, and much more. Enjoy a seamless shopping experience with detailed product descriptions, high-quality images, and competitive prices.</p>
            </div>
            <div class="col-md-3 p-3">
                <h5 style="border-bottom:1px solid black;">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="las la-map-marker-alt"></i> Ata2 Sitesi, İstanbul, Turkey</li>
                    <li><i class="las la-phone"></i> +90 538 968 54 79</li>
                    <li><i class="las la-envelope"></i> iremcagiin@gmail.com</li>
                </ul>
            </div>
            <div class="col-md-3 p-3">
                <h5 style="border-bottom:1px solid black;">Follow Us</h5>
                <ul class="list-unstyled social-links">
                    <li><a href="#"><i class="lab la-facebook"></i> Facebook</a></li>
                    <li><a href="#"><i class="lab la-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="lab la-instagram"></i> Instagram</a></li>
                    <li><a href="#"><i class="lab la-linkedin"></i> LinkedIn</a></li>
                    <li><a href="#"><i class="lab la-github"></i> Github</a></li>
                </ul>

            </div>
        </div>
        <!-- Footer -->
        <footer class="text-center mt-5" style="margin-bottom:-40px;">
            <div class="container">
                <p>&copy; 2024 ModernNest. All Rights Reserved.</p>
            </div>
        </footer>

    </div>



    <footer class="border-top footer text-muted col-md-2" style="position: fixed; width:100%; bottom: 0;">
        <div class="" style="font-size:12px; margin-left:4px;">
            &copy; 2024 - ModernNest -  <a style="text-decoration: none; color:#4e54c8;" href="https://github.com/iremcagin/MVCProjectStaj">İrem Çağın Yurttürk</a>
        </div>
    </footer>

    
    <style>
        #furnitureDropdown .nav-link:hover,
        #furnitureDropdown .nav-link:focus,
        #decorationDropdown .nav-link:hover,
        #decorationDropdown .nav-link:focus {
            color: #fcadb2;
            background-color: transparent; 
            border-color: transparent;
            outline: none; 
            box-shadow: none; 
        }

        .small-list {
            margin-top: -5px;
            display: block; 
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.4s ease, opacity 0.4s ease; /* Smooth transition for height and opacity */
            padding-left: 0;
        }

      
        .nav-item:hover .small-list {
            max-height: 500px; 
            opacity: 1; 
        }

        /* Style for links */
        .small-list a {
            font-size: 0.875rem; /* Smaller font size */
            color: #333; 
            text-decoration: none;
            display: block;
        }

            
        .small-list a:hover {
            text-decoration: underline;
        }

        
        .no-outline:focus {
            outline: none; 
            box-shadow: none; 
        }

        .search-button:hover {
            background-color: #dbdbdb;
        }

    </style>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
  


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
