@model myProject.Models.ModelForAdminPages
@{
    ViewData["Title"] = "Companies";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
  

    .no-outline:active,
    .no-outline:focus{
        outline: none;
        box-shadow: none;
    }

</style>



<div class="" style="max-height: 650px; overflow-y: auto;margin-right:-30px;">
    <table class="table table-bordered" style="margin-bottom:100px;">
        <thead>
            <tr style="font-size:16px;">
                @{
            /*
        <th>UserId</th>
        <th>Name</th>
        <th>Surname</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Address</th>
        <th>Role</th>
        <th>Birthdate</th>
        <th>CreatedAt</th>
        <th>LogoUrl</th>
        <th>BannerUrl</th>*/
                }
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>AccountActivated</th>

                <th>TaxIDNumber</th>
                <th>IBAN</th>
                <th>Highlighed</th>
                <th>CreatedAt</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody style="font-size:15px; font-weight:400;">
            @foreach (var item in Model.activateCompanies)
            {
                int i = 0;
                <tr data-bs-toggle="modal" data-bs-target="#companyDetailModal"
                    data-company-id="@item.CompanyId"
                    data-company-name="@item.CompanyName"
                    data-company-description="@item.Description"
                    data-company-address="@item.Address"
                    data-company-phone="@item.PhoneNumber"
                    data-company-email="@item.Email"
                    data-company-taxidnumber="@item.TaxIDNumber"
                    data-company-iban="@item.IBAN"
                    data-company-createdat="@item.CreatedAt.ToString("yyyy-MM-dd")"
                    data-company-rating="@item.Rating"
                    data-company-highlighed="@item.isHighlighed"
                    data-company-accountactivated="@item.isAccountActivated"
                    data-user-name="@Model.activateCompaniesUsers[i].Name"
                    data-user-surname="@Model.activateCompaniesUsers[i].Surname"
                    data-user-email="@Model.activateCompaniesUsers[i].Email"
                    data-user-phone="@Model.activateCompaniesUsers[i].PhoneNumber"
                    data-company-logo="@item.LogoUrl"
                    data-company-banner="@item.BannerUrl"
                    data-company-products="@item.ProductsList.Count"
                    style="cursor:pointer;">
                    @{
                        /*
                        <td>@item.User.UserId</td>
                        <td>@item.User.Name</td>
                        <td>@item.User.Surname</td>
                        <td>@item.User.PhoneNumber</td>
                        <td>@item.User.Email</td>
                        <td>@item.User.Address</td>
                        <td>@item.User.Role</td>
                        <td>@item.User.Birthdate</td>
                        <td>@item.User.CreatedAt</td>
                        <td>@item.Company.LogoUrl</td>
                        <td>@item.Company.BannerUrl</td>*/
                    }
                    <td class="open-modal">@item.CompanyId</td>
                    <td class="open-modal">@item.CompanyName</td>
                    <td class="open-modal"  style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis; max-width: 30px;">@item.Description</td>
                    <td class="open-modal">@item.Address</td>
                    <td class="open-modal">@item.PhoneNumber</td>
                    <td class="open-modal">@item.Email</td>
                    <td class="open-modal">@item.isAccountActivated</td>
                    <td class="open-modal">@item.TaxIDNumber</td>
                    <td class="open-modal" style="white-space: nowrap; overflow:hidden; text-overflow:ellipsis; max-width: 30px;">@item.IBAN</td>
                    <td class="open-modal">@item.isHighlighed</td>
                    <td class="open-modal">@item.CreatedAt</td>
                    <td class="open-modal">@item.Rating</td>
                    <td>
                        <!-- Activation Button with Form -->
                        <form id="activateForm-@item.CompanyId" asp-controller="Admin" asp-action="ActivateAccountSubmit" method="post">
                            <input type="hidden" name="companyId" value="@item.CompanyId" />
                            <button type="button" class="btn btn-outline-success btn-sm activate-btn  no-outline" data-company-id="@item.CompanyId">
                                Activate
                            </button>
                        </form>
                    </td>
                </tr>
                i++;
            }
        </tbody>

    </table>
</div>


<!-- Confirmation Modal -->
<div class="modal fade " id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Activation</h5>
                <!--button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></!--button-->
            </div>
            <div class="modal-body">
                Are you sure you want to activate this account?
            </div>
            <div class="modal-footer">
                <!--button type="button" class="btn btn-secondary  no-outline" data-bs-dismiss="modal">Cancel</!--button-->
                <button type="button" class="btn btn-outline-success  no-outline" id="confirmActivateBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>



<!-- Details Modal Structure -->
<div class="modal fade" id="companyDetailModal" tabindex="-1" aria-labelledby="companyDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="companyDetailModalLabel">Company Details</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Company Banner and Logo -->
                <div class="text-center mb-4 position-relative">
                    <img id="modalCompanyBanner" src="" alt="Company Banner" class="img-fluid">
                    <img id="modalCompanyLogo" src="" alt="Company Logo" class="img-fluid position-absolute bottom-0 start-0 mb-2 ms-2" style="max-width: 100px;">
                </div>

                <!-- User and Company Details -->
                <h5 style="border-bottom: 1px solid black; color:black;">Seller Information</h5>
                <!-- User Information -->
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <p class="modal-info-label">Name: </p>
                        <p id="modalUserName"></p>
                    </div>
                    <div class="d-flex">
                        <p class="modal-info-label">Email: </p>
                        <p id="modalUserEmail"></p>
                    </div>
                    <div class="d-flex">
                        <p class="modal-info-label">Phone: </p>
                        <p id="modalUserPhone"></p>
                    </div>
                </div>

                <!-- Company Information -->
                <h5 class="modal-heading">Company Information</h5>

                <div class="d-flex">
                    <p class="modal-info-label" style="margin-right:5px;">Company Name:</p>
                    <p id="modalCompanyName"></p>
                </div>
                <div class="d-flex">
                    <p class="modal-info-label" style="margin-right:5px;">Description:</p>
                    <p id="modalCompanyDescription"></p>

                </div>
                <div class="d-flex">
                    <div class="modal-info-columns">
                        <div class="modal-info-item">
                            <p class="modal-info-label">Address:</p>
                            <p id="modalCompanyAddress"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">Tax ID Number:</p>
                            <p id="modalCompanyTaxIDNumber"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">IBAN:</p>
                            <p id="modalCompanyIBAN"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">Created At:</p>
                            <p id="modalCompanyCreatedAt"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">Rating:</p>
                            <p id="modalCompanyRating"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">Highlighted:</p>
                            <p id="modalCompanyIsHighlighed"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">Account Activated:</p>
                            <p id="modalCompanyAccountactivated"></p>
                        </div>
                        <div class="modal-info-item">
                            <p class="modal-info-label">Products Count:</p>
                            <p id="modalCompanyProducts"></p>
                        </div>
                    </div>

                </div>
 
            </div>

        </div>
    </div>
</div>




<style>
    

    #modalCompanyLogo {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0.5rem; /* Adjust spacing as needed */
        max-width: 120px;
        max-height: 120px;
        object-fit: cover;
        border-radius: 50%;
    }

    #modalCompanyBanner {
        display: block;
        width: 100%;
        height: auto;
    }

    .modal-info-label {
        color: #d42c72; /* Pink color */
        margin-right: 5px;
        font-weight: 600;
        align-items: center;
    }

    .modal-heading {
        border-bottom: 1px solid black;
        color: black;
        margin-bottom: 1rem;
    }

    .modal-info-column {
        margin-right: 80px;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .modal-info-columns {
        display: flex;
        flex-wrap: wrap;
    }

    .modal-info-item {
        display: flex;
        width: 300px;
    }

    .modal-info-label {
        color: #d42c72; /* Pink color */
        margin-right: 5px;
        font-weight: 600;
    }

</style>




<script>
    document.addEventListener('DOMContentLoaded', function () {
        var table = document.querySelector('table');
        table.addEventListener('click', function (event) {
            var target = event.target;


            // Check if the target has the 'open-modal' class
            if (!target.classList.contains('open-modal')) {
                return;
            }


            while (target && !target.matches('tr')) {
                target = target.parentElement;
            }
            if (!target) return;

            var row = target;
            var modal = new bootstrap.Modal(document.getElementById('companyDetailModal'));

            // Set the modal images
            document.getElementById('modalCompanyLogo').src = '/images/_Logos/' + (row.dataset.companyLogo || 'placeholder-1.png');
            document.getElementById('modalCompanyBanner').src = '/images/_Banners/' + (row.dataset.companyBanner || 'placeholder-1.png');

            document.getElementById('modalUserName').textContent = row.dataset.userName + ' ' + row.dataset.userSurname;
            document.getElementById('modalUserEmail').textContent = row.dataset.userEmail;
            document.getElementById('modalUserPhone').textContent = row.dataset.userPhone;
            document.getElementById('modalCompanyName').textContent = row.dataset.companyName;
            document.getElementById('modalCompanyDescription').textContent = row.dataset.companyDescription;
            document.getElementById('modalCompanyAddress').textContent = row.dataset.companyAddress;
            document.getElementById('modalCompanyTaxIDNumber').textContent = row.dataset.companyTaxidnumber;
            document.getElementById('modalCompanyIBAN').textContent = row.dataset.companyIban;
            document.getElementById('modalCompanyCreatedAt').textContent = row.dataset.companyCreatedat;
            document.getElementById('modalCompanyRating').textContent = row.dataset.companyRating;
            document.getElementById('modalCompanyProducts').textContent = (row.dataset.companyProducts || 'N/A');
            document.getElementById('modalCompanyIsHighlighed').textContent = (row.dataset.companyHighlighed || 'N/A');
            document.getElementById('modalCompanyAccountactivated').textContent = (row.dataset.companyAccountactivated || 'N/A');

            modal.show();
        });


        var activateButtons = document.querySelectorAll('.activate-btn');
        activateButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var companyId = button.dataset.companyId;
                var confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
                var confirmActivateBtn = document.getElementById('confirmActivateBtn');

                confirmActivateBtn.onclick = function () {
                    document.getElementById('activateForm-' + companyId).submit();
                };

                confirmationModal.show();
            });
        });


    });








</script>
