@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var allProducts = ViewBag.allProducts as List<ProductModel>;
}



<!-- All Products -->
<h3 class=" mb-4" style="border-bottom: 1px solid black; font-size: 20px;">All Products</h3>
<div class="container mt-5 " style="">
    <div class="row row-cols-1 row-cols-md-6 g-4 p-2">
        @foreach (var product in allProducts)
        {

            <div class="col">
                <div class="card h-100">
                    @if (product.Images.Count > 0)
                    {
                        <div class="position-relative">
                            <a href="/User/ProductDetails/@product.ProductId" class="stretched-link">
                                <img src="~/images/@product.Category/@product.Images[0]" class="card-img-top" alt="@product.Name">
                            </a>
                            <a href="/Login" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline"><i class="lar la-heart"></i></a>
                        </div>
                    }
                    else
                    {
                        <div class="position-relative">
                            <a href="/User/ProductDetails/@product.ProductId" class="stretched-link">
                                <img src="~/images/placeholder-1.png" class="card-img-top" alt="Placeholder Image">
                            </a>
                            <a href="/Login" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline"><i class="lar la-heart"></i></a>
                        </div>
                    }
                    <div class="card-body d-flex flex-column justify-content">
                        <div class="d-flex flex-column" style="font-size:15px;">
                            <h5 class="card-title"><span style="font-size:15px; font-weight:600;"> @product.Name </span><span style="font-size:14px; color:grey;">@product.Description</span></h5>

                            <div class="d-flex">
                                <p style="margin-right:5px;  font-size:14px; margin-top:2px;">@product.Rating</p>

                                @if (@product.Rating >= 0 && @product.Rating <= 5)
                                {

                                    var fullStars = (int)Math.Floor(@product.Rating);
                                    var halfStar = (@product.Rating - fullStars) >= 0.5;
                                    // Boş yıldızların sayısı
                                    var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);


                                    for (int i = 0; i < fullStars; i++)
                                    {
                                        <span class="star full-star">&#9733;</span>
                                    }

                                    if (halfStar)
                                    {
                                        <span class="star half-star">&#9733;</span>
                                    }

                                    for (int i = 0; i < emptyStars; i++)
                                    {
                                        <span class="star">&#9734;</span>
                                    }
                                }
                            </div>

                        </div>

                        <h5 class="card-text" style="font-size: 16px; font-weight:600; color:#b46c2c; margin-top:15px;">$@product.Price</h5>
                    </div>


                </div>
            </div>
        }

    </div>
</div>




<style>
    .star {
        font-size: 16px;
    }

    .full-star {
        color: #ffd700;
    }

    .half-star {
        color: #ffd700;
        position: relative;
    }

        .half-star::before {
            content: '\2605';
            color: #000;
            position: absolute;
            left: 0;
            width: 55%;
            overflow: hidden;
        }

    .empty-star {
        color: #d3d3d3;
    }

        .empty-star::before {
            content: '\2605';
            color: #000;
            position: absolute;
            overflow: hidden;
        }
</style>