@model myProject.Models.ModelForUserPages
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<style>
    .no-outline:focus,
    .no-outline:active {
        outline: none !important;
        box-shadow: none !important;
    }
</style>


<!-- All Products -->

<div class="container mt-2">
    <div class="d-flex justify-content-between align-items-center p-2"  style="border-bottom: 1px solid black;">
        <h5 class="" style=" font-size: 20px; font-weight:600;">
            <i class="las la-shopping-cart"></i> Shopping Cart
        </h5>

        <div class="d-flex justify-content-between align-items-center">
            <!-- Toplam Fiyat -->
            <div style="margin-right:15px;">
                <span style="font-size: 18px; font-weight: bold;">Total Price:</span>
                <span style="font-size: 18px; font-weight: bold; margin-left: 10px;">@ModelForUserPages.totalPrice.ToString("C")</span>
            </div>

            <!-- Satın Alma Butonu -->
            <a href="#" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#purchaseModal" style="font-size: 16px; font-weight:600;">
                <i class="las la-credit-card"></i> Purchase
            </a>

        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="purchaseModal" tabindex="-1" aria-labelledby="purchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseModalLabel"> <label for="totalPrice" style="font-size:20px;">Total Price: <strong style="color: #b8433b">@ModelForUserPages.totalPrice.ToString("C")</strong> </label></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Credit Card List -->
                    <!-- Credit Card List -->
                    <div class="mb-4 col-md-12">
                        <h6><i class="las la-credit-card"></i>Select Credit Card</h6>
                        <div class="card-container">
                            @if (Model.creditCards.Count > 0){
                                @foreach (var card in Model.creditCards)
                                {
                                    <div class="col-md-6">
                                   
                                            <input type="radio" name="creditCard" value="@card.CardId" id="card-@card.CardId">

                                            <label for="card-@card.CardId" class="card-label">
                                                <div class="credit-card-container">
                                                    <!-- Kredi Kartının Ön Yüzü -->
                                                    <div class="credit-card">
                                                        <div class="card-front">
                                                      
                                                            <div class="card-type d-flex justinfy-content-end col-md-12">Credit Card</div>
                                                       
                                                            <div class="card-number" style="margin-top:25px;">@card.CardNumber</div>
                                                        <div class="card-details" style="margin-top:25px;">
                                                                <div class="card-holder">Card Holder: @card.CardHolderName</div>
                                                                <div class="card-expiry">Expires: @card.ExpirationDate</div>
                                                            </div>
                                                        </div>
                                                        <!-- Kredi Kartının Arka Yüzü -->
                                                        <div class="card-back">
                                                            <div class="magnetic-strip"></div>
                                                            <div class="cvv">CVV: 123</div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </label>

                                    
                                    </div>
                                }
                            }
                            else{
                                <p>Plase Add Credit Card in the Profile !</p>
                            }
                        </div>
                    </div>

                    <!-- Purchase Details -->
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" id="purchaseButton">Purchase</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Teşekkürler Modal -->
    <div class="modal fade" id="thankYouModal" tabindex="-1" aria-labelledby="thankYouModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="thankYouModalLabel">Thank You!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Your purchase was successful. Thank you for shopping with us!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>





    <div class="gap-4 mt-3">
        @for (int j = 0; j < @Model.productsInBasket.Products.Count; j++)
        {
            var product = @Model.productsInBasket.Products[j].Product;

         

            <div class="row bg-light mb-4 img-fluid p-1" style="">

                <!-- Image Section -->
                <div class="card-img-container col-md-3" style="overflow:hidden;">
                    <a href="/User/ProductDetails/@product.ProductId">
                        @if (@Model.productsInBasket.Products[j].Images != null && @Model.productsInBasket.Products[j].Images.Any())
                        {
                            <div id="carousel-@product.ProductId" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @for (var i = 0; i < @Model.productsInBasket.Products[j].Images.Count; i++)
                                    {
                                        var image = @Model.productsInBasket.Products[j].Images[i];

                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                            <img src="~/images/@product.Category/@image" class="d-block w-100" alt="@product.Name" style="width: 100%; height: auto; object-fit: cover;">
                                        </div>
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#carousel-@product.ProductId" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-@product.ProductId" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <img src="~/images/placeholder-1.png" class="card-img-top" alt="No image available" style="width: 100%; height: auto; object-fit: cover;">
                        }
                    </a>
                </div>


                <div class="d-flex flex-column col-md-9 justify-content-between">

                    <div class="d-flex flex-column ">

                        <div class="d-flex justify-content-between align-items-center">

                            <!--isim ve yıldız divi  -->
                            <div class="d-flex align-items-center">
                                <h5 class="" style="font-size:21px; font-weight:600; margin-right:20px; margin-top:-8px;">@product.Name </h5>
                                <div class="d-flex " style="font-size:15px;">

                                    @if (@product.Rating >= 0 && @product.Rating <= 5)
                                    {

                                        var fullStars = (int)Math.Floor(@product.Rating);
                                        var halfStar = (@product.Rating - fullStars) >= 0.5;
                                        // Boş yıldızların sayısı
                                        var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);


                                        for (int i = 0; i < fullStars; i++)
                                        {
                                            <i class="las la-star" style="color: #ffd700"></i>
                                        }

                                        if (halfStar)
                                        {
                                            <i class="las la-star-half-alt" style="color: #ffd700"></i>
                                        }

                                        for (int i = 0; i < emptyStars; i++)
                                        {
                                            <span class="las la-star" style="color: lightgrey"></span>
                                        }
                                    }

                                    <p style="font-size:15px; ">(@product.Rating)</p>
                                </div>
                            </div>

                            <!-- çöp kutusu div -->
                            <a href="/User/DeleteItemInBasket/@Model.productsInBasket.Products[j].Id" class="btn btn-like no-outline" style="font-size:21px;">
                                <i class="las la-trash-alt"></i>
                            </a>

                        </div>

                        <!--Count button  -->
                        <div class="count-control mt-2" style="font-size:14px; color:grey;">
                            Quantity:
                            <button type="button" class="btn btn-dark btn-sm count-btn d-flex align-items-center justify-content-center"
                                    style="margin-left:10px;"
                                    onclick="updateQuantity('decrease', @product.ProductId, @product.CompanyId, @j, @Model.productsInBasket.Products[j].count)">
                                -
                            </button>
                            <span id="quantityDisplay_@j" style="margin: 0 10px;">@Model.productsInBasket.Products[j].count</span>
                            <button type="button" class="btn btn-dark btn-sm count-btn d-flex align-items-center justify-content-center"
                                    onclick="updateQuantity('increase', @product.ProductId, @product.CompanyId, @j, @Model.productsInBasket.Products[j].count)">
                                +
                            </button>
                        </div>
                        <input type="hidden" id="quantity_@j" name="quantity" value="@Model.productsInBasket.Products[j].count">





                        <span style="font-size:14px; color:grey;">Category: @product.Category</span>
                        <span style="font-size:14px; color:grey;">Description: @product.Description</span>

                    </div>


                    <h5 class="card-text" style="font-size: 22px; font-weight:600; color:#b46c2c;">$@product.Price</h5>


                </div>

            </div>
        }

    </div>
</div>






<!-- Deleted Prev Products -->

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center p-2" style="border-bottom: 1px solid black;">
        <h5 class="" style=" font-size: 20px; font-weight:600;">
            <i class="las la-redo"></i> Previously Added Items
        </h5>
    </div>

    <div class="gap-4 mt-3">
        @for (int j = 0; j < @Model.productsDeletedFromBasket.Products.Count; j++)
        {
            var product = @Model.productsDeletedFromBasket.Products[j].Product;



            <div class="row bg-light mb-4 img-fluid p-1" style="">

                <!-- Image Section -->
                <div class="card-img-container col-md-2" style="overflow:hidden;">
                    <a href="/User/ProductDetails/@product.ProductId">
                        @if (@Model.productsDeletedFromBasket.Products[j].Images != null && @Model.productsDeletedFromBasket.Products[j].Images.Any())
                        {
                            <div id="carousel-@product.ProductId" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @for (var i = 0; i < @Model.productsDeletedFromBasket.Products[j].Images.Count; i++)
                                    {
                                        var image = @Model.productsDeletedFromBasket.Products[j].Images[i];

                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                            <img src="~/images/@product.Category/@image" class="d-block w-100" alt="@product.Name" style="width: 100%; height: auto; object-fit: cover;">
                                        </div>
                                    }
                                </div>
                                <a class="carousel-control-prev" href="#carousel-@product.ProductId" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carousel-@product.ProductId" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        }
                        else
                        {
                            <img src="~/images/placeholder-1.png" class="card-img-top" alt="No image available" style="width: 100%; height: auto; object-fit: cover;">
                        }
                    </a>
                </div>


                <div class="d-flex flex-column col-md-10 justify-content-between">

                    <div class="d-flex flex-column ">

                        <div class="d-flex justify-content-between align-items-center">

                            <!--isim ve yıldız divi  -->
                            <div class="d-flex align-items-center">
                                <h5 class="" style="font-size:21px; font-weight:600; margin-right:20px; margin-top:-8px;">@product.Name </h5>
                                <div class="d-flex " style="font-size:15px;">

                                    @if (@product.Rating >= 0 && @product.Rating <= 5)
                                    {

                                        var fullStars = (int)Math.Floor(@product.Rating);
                                        var halfStar = (@product.Rating - fullStars) >= 0.5;
                                        // Boş yıldızların sayısı
                                        var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);


                                        for (int i = 0; i < fullStars; i++)
                                        {
                                            <i class="las la-star" style="color: #ffd700"></i>
                                        }

                                        if (halfStar)
                                        {
                                            <i class="las la-star-half-alt" style="color: #ffd700"></i>
                                        }

                                        for (int i = 0; i < emptyStars; i++)
                                        {
                                            <span class="las la-star" style="color: lightgrey"></span>
                                        }
                                    }

                                    <p style="font-size:15px; ">(@product.Rating)</p>
                                </div>
                            </div>
                        </div>

                       
                        <span style="font-size:14px; color:grey;">Category: @product.Category</span>
                        <span style="font-size:14px; color:grey;">Description: @product.Description</span>
                    </div>
                    <h5 class="card-text" style="font-size: 22px; font-weight:600; color:#b46c2c;">$@product.Price</h5>
                </div>

            </div>
        }

    </div>
</div>









<script>
  
    function updateQuantity(action, productId, companyId, index, quantity) {
        var quantityDisplay = document.getElementById('quantityDisplay_' + index);
        var quantityInput = document.getElementById('quantity_' + index);
        var currentQuantity = parseInt(quantityDisplay.textContent, 10);

        if (action === 'increase') {
            currentQuantity += 1;
        } else if (action === 'decrease' && currentQuantity > 0) {
            currentQuantity -= 1;
        }

        quantityDisplay.textContent = currentQuantity;
        quantityInput.value = currentQuantity;


        updateQuantityInDatabase(productId, companyId, currentQuantity);
    }



    function updateQuantityInDatabase(productId, companyId, quantity) {
        $.ajax({
            url: '@Url.Action("UpdateQuantity", "User")',
            type: 'POST',
            data: {
                productId: productId,
                companyId: companyId,
                quantity: quantity
            },
            success: function (response) {
                console.log("Quantity updated successfully!");
                window.location.reload();
            },
            error: function (xhr, status, error) {
                console.error("Error updating quantity:", error);
            }
        });

    }


    document.getElementById('purchaseButton').addEventListener('click', function () {
        // Seçili kart olup olmadığını kontrol et
        var selectedCard = document.querySelector('input[name="creditCard"]:checked');
    
        if (!selectedCard) {
            alert("Please select a card!");
            return; // Eğer kart seçilmemişse işlemi durdur
        }


        // Send request to remove items from cart
        fetch('/User/ClearCart', { method: 'POST' })
            .then(response => {
                if (response.ok) {
                    // Show thank you modal
                    var thankYouModal = new bootstrap.Modal(document.getElementById('thankYouModal'));
                    thankYouModal.show();

                    // Hide purchase modal
                    var purchaseModal = bootstrap.Modal.getInstance(document.getElementById('purchaseModal'));
                    purchaseModal.hide();

                    window.location.reload();
                } else {
                    // Handle error
                    console.error('Failed to clear cart');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    
</script>

    


<style>
   

    .count-control {
        display: flex;
        align-items: center;
    }

    .count-input {
        width: 20px;
        height: 15px;
        text-align: center;
        border: 1px solid #000;
        margin: 0 5px;
    }

    .count-btn {
        width: 12px;
        height: 12px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }




    /* Style for the modal content */
    .modal-body {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        padding:10px;
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        gap: 15px; /* Space between cards */
    }

    .card {
        flex: 0 0 auto; /* Prevent cards from shrinking */
        width: 300px; /* Set card width */
    }

    .card-body {
        display: flex;
        flex-direction: column;
    }

    .card input[type="radio"] {
        margin-right: 10px;
    }


    /* Scrollbar styling */
    .card-container::-webkit-scrollbar {
        height: 4px; /* Set the height of the scrollbar */
    }

    .card-container::-webkit-scrollbar-thumb {
        background-color: #888; /* Color of the scrollbar */
        border-radius: 3px; /* Rounded corners */
    }

        .card-container::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Color when hovered */
        }

    .card-container::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
    }





    .credit-card-container {
        perspective: 1000px;
        width: 300px;
        height: 200px;
    }

    .credit-card {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.9s;
        transform: rotateY(0deg);
    }

        .credit-card:hover {
            transform: rotateY(180deg);
        }

    .card-front, .card-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
    }

    .card-front {
        background: #333;
        color: white;
        padding: 20px;
        text-align: center;
    }

    .card-back {
        background: #f0f0f0;
        color: #333;
        padding: 20px;
        text-align: center;
        transform: rotateY(180deg);
    }

    .card-logo {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .card-number {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .card-details {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
    }

    .card-holder {
        font-weight: bold;
    }

    .card-expiry {
        color: #ccc;
    }

    .magnetic-strip {
        height: 20px;
        background: #333;
        margin-top: 10px;
        border-radius: 3px;
    }

    .cvv {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
    }


</style>