@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    var allProductsInBasket = ViewBag.allProductsInBasket as List<ProductModel>;
    var ImagesOfProductsInBasket = ViewBag.ImagesOfProductsInBasket as List<Tuple<int, string>>;
    decimal totalPrice = ViewBag.TotalPrice ?? 0.00m;
}


<style>
    .no-outline:focus,
    .no-outline:active {
        outline: none !important;
        box-shadow: none !important;
    }
</style>


<!-- All Products -->

<div class="container mt-2">
    <div class="d-flex justify-content-between align-items-center p-2"  style="border-bottom: 1px solid black;">
        <h5 class="" style=" font-size: 20px; font-weight:600;">
            <i class="las la-shopping-cart"></i> Shopping Cart
        </h5>

        <div class="d-flex justify-content-between align-items-center">
            <!-- Toplam Fiyat -->
            <div style="margin-right:15px;">
                <span style="font-size: 18px; font-weight: bold;">Total Price:</span>
                <span style="font-size: 18px; font-weight: bold; margin-left: 10px;">@totalPrice.ToString("C")</span>
            </div>

            <!-- Satın Alma Butonu -->
            <a href="/User/Checkout" class="btn btn-outline-primary" style="font-size: 16px; font-weight:600;">
                <i class="las la-credit-card"></i> Purchase
            </a>
        </div>
    </div>


    <div class="gap-4 mt-3">
        @for (int j = 0; j < allProductsInBasket.Count; j++)
        {
            var product = allProductsInBasket[j];
            string productImage = null;

            if (ImagesOfProductsInBasket != null)
            {
                var imageTuple = ImagesOfProductsInBasket.FirstOrDefault(item => item.Item1 == product.ProductId);
                if (imageTuple != null)
                {
                    productImage = imageTuple.Item2;
                }
            }
            string imageUrl = productImage != null
            ? Url.Content($"~/images/{product.Category}/{productImage}")
            : Url.Content("~/images/placeholder-1.png");


            
            <div class="row bg-light mb-4 img-fluid p-1" style="" >
                <!-- resim kısmı -->
                <div class="card-img-container col-md-3" style="overflow:hidden;">
                    <a href="/User/ProductDetails/@product.ProductId">
                        <img src="@imageUrl" class="card-img-top" alt="@product.Name" style="width: 100%; height: auto; object-fit: cover;">
                    </a>
                </div>

                <div class="d-flex flex-column col-md-9 justify-content-between">

                    <div class="d-flex flex-column ">

                        <div class="d-flex justify-content-between align-items-center">

                            <!--isim ve yıldız divi  -->
                            <div class="d-flex align-items-center">
                                <h5 class="" style="font-size:21px; font-weight:600; margin-right:20px; margin-top:-8px;">@product.Name </h5>
                                <div class="d-flex " style="font-size:15px;">

                                    @if (@product.Rating >= 0 && @product.Rating <= 5)
                                    {

                                        var fullStars = (int)Math.Floor(@product.Rating);
                                        var halfStar = (@product.Rating - fullStars) >= 0.5;
                                        // Boş yıldızların sayısı
                                        var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);


                                        for (int i = 0; i < fullStars; i++)
                                        {
                                            <span class="star full-star">&#9733;</span>
                                        }

                                        if (halfStar)
                                        {
                                            <span class="star half-star">&#9733;</span>
                                        }

                                        for (int i = 0; i < emptyStars; i++)
                                        {
                                            <span class="star">&#9734;</span>
                                        }
                                    }

                                    <p style="font-size:15px; ">(@product.Rating)</p>
                                </div>
                            </div>

                            <!-- çöp kutusu div -->
                            <a href="/User/DeleteItemInBasket/@product" class="btn btn-like no-outline" style="font-size:21px;">
                                <i class="las la-trash-alt"></i>
                            </a>

                        </div>

                        <span style="font-size:14px; color:grey;">Category: @product.Category</span>
                        <span style="font-size:14px; color:grey;">Description: @product.Description</span>
                        
                    </div>

                   
                    <h5 class="card-text" style="font-size: 22px; font-weight:600; color:#b46c2c;">$@product.Price</h5>
                  

                </div>

            </div>
        }

    </div>
</div>




<style>
    .star {
        font-size: 16px;
    }

    .full-star {
        color: #ffd700;
    }

    .half-star {
        color: #ffd700;
        position: relative;
    }

    .half-star::before {
        content: '\2605';
        color: #000;
        position: absolute;
        left: 0;
        width: 55%;
        overflow: hidden;
    }

    .empty-star {
        color: #d3d3d3;
    }

    .empty-star::before {
        content: '\2605';
        color: #000;
        position: absolute;
        overflow: hidden;
    }
</style>