@model myProject.Models.ModelForUserPages
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}







<!-- Site Information -->
<div class="container mb-5 mt-2">
    <div class="alert alert-info alert-dismissible fade show" role="alert" style="border: 1px solid #ddd; background-color: #e0f7fa;">
        <h4 class="alert-heading" style="font-size: 21px;">
            Welcome to Our Furniture Sales Site!
        </h4>
        <p style="font-size: 15px;">
            Explore a wide variety of furniture items for your home and office. Our selection includes desks, tables, sofas, and much more. Whether you're looking for modern, classic, or custom-made pieces, you'll find it here.
            Use the search bar above to find specific products, or browse through our categories for inspiration.
            Don't miss our top picks and latest arrivals!
        </p>
        <p style="font-size: 15px;">
            Enjoy a seamless shopping experience with detailed product descriptions, high-quality images, and competitive prices.
            If you have any questions or need assistance, feel free to contact our customer service team. Happy shopping!
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
</div>


<!-- Most Viewed -->
<h3 class="mb-4 col-md-12" style="border-bottom: 1px solid black; font-size: 20px;">Top 5 Most Viewed Products</h3>

<div id="mostViewedCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @if (Model.mostClickedProducts != null && Model.mostClickedProducts.Any())
        {
            @foreach (var product in Model.mostClickedProducts)
            {
                int i = 0;
                <div class="carousel-item @(product == Model.mostClickedProducts.First() ? "active" : "")">
                    <div class="container-fluid">
                        <div class="row p-3 col-md-12">
                            <!-- Image -->
                            <div class="col-md-8 order-md-1">
                                @if (product.Images.Count > 0)
                                {
                                    <div class="position-relative">
                                        <a href="/User/ProductDetails/@product.ProductId" >
                                            <img src="~/images/@product.Category/@product.Images[0]" class="img-fluid rounded" alt="@product.Name">
                                        </a>

                                        @if (ModelForUserPages.productsLiked.Contains(product.ProductId))
                                        {
                                            <a href="/User/UnlikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                                <i class="las la-heart" style="color:red;"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/User/LikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                                <i class="lar la-heart"></i>
                                            </a>
                                        }

                                    </div>
                                }
                                else
                                {
                                    <div class="position-relative">
                                        <a href="/User/ProductDetails/@product.ProductId">
                                            <img src="~/images/placeholder-1.png" class="img-fluid rounded" alt="@product.Name">
                                        </a>
                                        
                                            @if (ModelForUserPages.productsLiked.Contains(product.ProductId))
                                            {
                                            <a href="/User/UnlikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                                <i class="las la-heart" style="color:red;"></i>
                                                </a>
                                            }
                                            else
                                            {
                                            <a href="/User/LikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                                    <i class="lar la-heart"></i>
                                                </a>
                                            }

                                    </div>
                                }
                            </div>

                            <!-- Information -->
                            <div class="col-md-4 order-md-2 d-flex flex-column justify-content-between" style="background-color: #fefefe; border-radius: 10px;">
                                <div class="text-dark p-4">
                                    <h2 class="fw-bold" style="margin-bottom: 20px; border-bottom: 1px solid black;">
                                        $@product.Price<br>@product.Name
                                    </h2>

                                    <p class="mb-3">@product.Description</p>
                                </div>

                                <!-- Company -->
                                <div class="text-dark d-flex align-items-center p-2" style="border-top: 1px solid black;">
                                    <img src="~/images/_Logos/@Model.mostClickedProductsCompanyInfo[i].LogoUrl" class="img-fluid rounded" style="max-width: 50px; max-height: 50px; " alt="Logo">
                                    <div class="ms-3">
                                        <h6 style="font-size: 14px;">@Model.mostClickedProductsCompanyInfo[i].CompanyName</h6>
                                        <h6 style="font-size: 14px;"><i class="las la-map-marker"></i>@Model.mostClickedProductsCompanyInfo[i].Address</h6>
                                    </div>
                                    <!-- Views, Likes -->
                                    <div class="ms-auto">
                                        <h6 style="font-size: 14px;" class="d-flex align-items-center"><i class="las la-eye me-2 no-outline"></i> @product.Clicked</h6>
                                        <h6 style="font-size: 14px;" class="d-flex align-items-center"><i class="las la-heart me-2 no-outline"></i> @product.Favorite</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                i++;
            }
        }
    </div>

    <button class="carousel-control-prev carousel-control-icon" type="button" data-bs-target="#mostViewedCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next carousel-control-icon" type="button" data-bs-target="#mostViewedCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>


    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.mostClickedProducts.Count; i++)
        {
            <li data-bs-target="#mostViewedCarousel" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
        }
    </ol>
</div>








<!-- Companies  -->
<div class="container" style="margin-top:200px;">
    <div class="row">
        @if (ModelForUserPages.companies.Count > 0)
        {
            @foreach (var company in ModelForUserPages.companies)
            {
                @if (company.isHighlighed == "true")
                {
                    <div class="col-md-3 mb-4">
                        <div class="card h-100 position-relative">
                            <a href="@Url.Action("CompanyDetails", "User", new { id = company.CompanyId })">
                                <img class="card-img-top" src="@Url.Content(string.IsNullOrEmpty(company.BannerUrl) ? "~/images/placeholder-1.png" : "~/images/_Banners/" + company.BannerUrl)" alt="Banner">
                                <img class="logo-img position-absolute" src="@Url.Content(string.IsNullOrEmpty(company.LogoUrl) ? "~/images/placeholder-1.png" : "~/images/_Logos/" + company.LogoUrl)" alt="Logo">
                            </a>
                            <div class="card-body" style="text-align:center;">
                                <h5 class="card-title">@company.CompanyName</h5>
                                <p class="card-text  review-text">@company.Description</p>
                                <!--p class="card-text"><small class="text-muted">Rating: @company.Rating</small></!--p-->
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>






<!-- Sliding Divs -->
<div class="side-panel-container" style="margin-top: 200px; height:1000px;">
    <!-- Left Panel -->
    <div class="side-panel left-panel d-flex flex-column">
        <h5 style="border-bottom:1px solid black">Latest Products</h5>

        <div class="row p-2 mt-2 col-md-12">
            @if (Model.newestProducts != null && Model.newestProducts.Count > 0)
            {
                foreach (var product in Model.newestProducts)
                {
                    <div class="col-6">
                        <div class="card" style="max-width: 180px; min-height: 300px;">
                            @if (product.Images.Count > 0)
                            {
                                <div class="position-relative">
                                    <a href="/User/ProductDetails/@product.ProductId" class="">
                                        <img src="~/images/@product.Category/@product.Images[0]" class="img-fluid  last-Items-img" alt="@product.Name" style="height: 120px; object-fit: cover;">
                                    </a>

                                    @if (ModelForUserPages.productsLiked.Contains(product.ProductId))
                                    {
                                        <a href="/User/UnlikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                            <i class="las la-heart" style="color:red;"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/User/LikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                            <i class="lar la-heart"></i>
                                        </a>
                                    }

                                </div>
                            }
                            else
                            {
                                <div class="position-relative">
                                    <a href="/User/ProductDetails/@product.ProductId" class="">
                                        <img src="~/images/placeholder-1.png" class="img-fluid  last-Items-img" alt="@product.Name" style="height: 120px; object-fit: cover;">
                                    </a>

                                    @if (ModelForUserPages.productsLiked.Contains(product.ProductId))
                                    {
                                        <a href="/User/UnlikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                            <i class="las la-heart" style="color:red;"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="/User/LikeButton/@product.ProductId" class="btn btn-like position-absolute top-0 end-0 m-2 no-outline">
                                            <i class="lar la-heart"></i>
                                        </a>
                                    }


                                </div>
                            }


                            <div class="card-body p-2 d-flex justify-content-between last-Items-text">
                                <div class="d-flex flex-column col-md-9 justify-content-between">

                                    <div style="col-12">
                                        <div class="card-title">
                                            <span class="product-name" style="font-size:15px; font-weight:600;">@product.Name</span>
                                            <span class="product-description" style="font-size:14px; color:grey;">@product.Description</span>
                                        </div>

                                        <div class="d-flex " style="font-size:15px;">
                                            <p style="margin-right:5px; font-size:14px; margin-top:2px;">@product.Rating</p>
                                            @if (@product.Rating >= 0 && @product.Rating <= 5)
                                            {

                                                var fullStars = (int)Math.Floor(@product.Rating);
                                                var halfStar = (@product.Rating - fullStars) >= 0.5;
                                                // Boş yıldızların sayısı
                                                var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);

                                                for (int i = 0; i < fullStars; i++)
                                                {
                                                    <i class="las la-star" style="color: #ffd700"></i>
                                                }

                                                if (halfStar)
                                                {
                                                    <i class="las la-star-half-alt" style="color: #ffd700"></i>
                                                }

                                                for (int i = 0; i < emptyStars; i++)
                                                {
                                                    <span class="las la-star" style="color: lightgrey"></span>
                                                }
                                            }
                                        </div>
                                    </div>

                                    <h5 class="card-text" style="font-size: 16px; font-weight:600; color:#b46c2c; margin-top:15px;">$@product.Price</h5>
                                </div>

                                <div class="col-md-3  d-flex flex-column justify-content-end">
                                    <!--h6 style="font-size: 14px; margin-bottom:-2px;" class="d-flex align-items-center"><i class="las la-heart me-1" style=""></i> @product.Favorite</!--h6-->
                                    <h6 style="font-size: 14px;  margin-bottom:-1px;" class="d-flex align-items-center"><i class="las la-eye me-1 no-outline"></i> @product.Clicked</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>





    <!-- Right Panel -->
    <div class="side-panel right-panel d-flex flex-column p-2 col-md-8">
        <h5 style="border-bottom:1px solid black"> Product Reviews</h5>

        <!-- Product Reviews Content -->
        <div class="container-fluid ">
            <div class="row">
                @for (int i = 0; i < Model.randomlySelectedReviewModel.Count; i++)
                {
                    var review = Model.randomlySelectedReviewModel[i];
                    var product = Model.randomlySelectedProductModel[i];
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-header d-flex justify-content-between">
                                <p class="my-0 font-weight-normal" style="font-size:17px;"><strong>@product.Name</strong></p>
                                <p class="card-text" style="font-size:17px;">
                                    <strong>
                                        $@product.Price
                                    </strong>

                                </p>
                            </div>
                            <div class="card-body">
                                <div id="carouselExampleIndicators@i" class="carousel slide" data-ride="carousel">

                                    <div class="carousel-inner">
                                        @for (int j = 0; j < product.Images.Count; j++)
                                        {
                                            <div class="carousel-item @(j == 0 ? "active" : "")">
                                                <a href="/User/ProductDetails/@product.ProductId" class="">
                                                    <img class="d-block w-100" src="~/images/@product.Category/@product.Images[j]" alt="Product Image @j">
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators@i" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators@i" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <p class="card-text review-text">@product.Description</p>
                                <p class="card-text">
                                    <strong>Rating:</strong> @if (@product.Rating >= 0 && @product.Rating <= 5)
                                    {

                                        var fullStars = (int)Math.Floor(@product.Rating);
                                        var halfStar = (@product.Rating - fullStars) >= 0.5;
                                        // Boş yıldızların sayısı
                                        var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);

                                        for (int k = 0; k < fullStars; k++)
                                        {
                                            <i class="las la-star" style="color: #ffd700"></i>
                                        }

                                        if (halfStar)
                                        {
                                            <i class="las la-star-half-alt" style="color: #ffd700"></i>
                                        }

                                        for (int k = 0; k < emptyStars; k++)
                                        {
                                            <span class="las la-star" style="color: lightgrey"></span>
                                        }
                                    }
                                </p>
                                <p class="card-text review-text"><strong>Review:</strong> @review.Review</p>
                            </div>
                        </div>
                    </div>
                }
            </div>



        </div>
        <div>
        </div>

</div>



















<style>
    .no-outline:focus {
        outline: none;
        box-shadow: none;
    }

    .product-description {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Maksimum 2 satır */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; /* Satırların kaydırılmasına izin verir */
    }

        .review-text {
            display: -webkit-box;
            -webkit-line-clamp: 5; /* Number of lines before truncation */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }


</style>









<style>
    .social-links a {
        text-decoration: none;
        color: inherit;
    }

        .social-links a:hover {
            color: #007bff; /* Optional: Change color on hover */
        }

    .carousel-indicators li {
        background-color: white;
        width: 12px;
        height: 12px;
    }

    .carousel-indicators .active {
        background-color: black;
    }

    .carousel-control-next-icon {
        color: black;
    }


    /* General Styles */
    .side-panel-container {
        position: relative;
        overflow: hidden; /* To prevent the panels from affecting layout */
    }

    /* Side Panel Styles */
    .side-panel {
        transition: transform 0.45s ease-in-out;
    }

        .side-panel .row {
            border-radius: 10px;
        }

        /* Left Panel */
        .side-panel.left-panel {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-1000px); /* Start off-screen to the left */
        }

        /* Right Panel */
        .side-panel.right-panel {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateX(1000px); /* Start off-screen to the right */
        }

        /* Active Class to Show Panel */
        .side-panel.active-left-panel {
            transform: translateX(0); /* Move to visible position */
        }

        .side-panel.active-right-panel {
            transform: translateX(0); /* Move to visible position */
        }

    .last-Items-img:hover img {
        height: 170px;
    }

    .last-Items-text:hover .card-body {
        font-size: 16px;
    }

 
    /* Like button styles */
    .btn-like {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .btn-like i {
            color: black; /* Like icon color */
            font-size: 13px;
        }

        .btn-like:hover {
            background-color: rgba(255, 255, 255, 1);
        }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .top-0 {
        top: 0px;
    }

        .top-0:focus,
        .top-0:active {
            border: none;
        }

    .end-0 {
        right: 0;
    }




    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-img-top {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .logo-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        border: 2px solid white;
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1); /* Example shadow */
    }

  



</style>



<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        const leftPanel = document.querySelector('.left-panel');
        const rightPanel = document.querySelector('.right-panel');
        const panelContainer = document.querySelector('.side-panel-container');

        if (!leftPanel || !rightPanel || !panelContainer) {
            console.error("Left Panel, Right Panel, or Panel Container not found");
            return;
        }

        const observerOptions = {
            root: null,
            rootMargin: '0px',
            threshold: 0.1 // Adjust threshold as needed
        };

        function handleIntersect(entries, observer) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    leftPanel.classList.add('active-left-panel');
                    rightPanel.classList.add('active-right-panel');
                } else {
                    leftPanel.classList.remove('active-left-panel');
                    rightPanel.classList.remove('active-right-panel');
                }
            });
        }

        const observer = new IntersectionObserver(handleIntersect, observerOptions);
        observer.observe(panelContainer);
    });



</script>

