@model myProject.Models.ModelForUserPages
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}




<div class="container">
    <!-- Product Details Section -->
    <div class="card mb-4">
        <!--div class="card-header">
            
        </!--div-->
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    @if (@Model.productDetailsModel.ProductImages != null && @Model.productDetailsModel.ProductImages.Count > 0)
                    {
                        <div id="productImagesCarousel" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                @for (int i = 0; i < @Model.productDetailsModel.ProductImages.Count; i++)
                                {
                                    <div class="carousel-item @(i == 0 ? "active" : "")">
                                        <img src="~/images/@Model.productDetailsModel.Product.Category/@Model.productDetailsModel.ProductImages[i]" alt="Product Image" class="d-block w-100" style="max-height:600px;" />
                                        <a href="#" class="btn btn-like position-absolute top-0 end-0 m-3 no-outline" style="font-size:16px;"><i class="lar la-heart"></i></a>
                                    </div>
                                }
                            </div>
                            <a class="carousel-control-prev" href="#productImagesCarousel" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#productImagesCarousel" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </div>
                    }
                    else
                    {
                        <img src="~/images/placeholder-1.png" alt="Placeholder Image" class="img-fluid" />
                    }
                </div>
                <div class="col-md-5 d-flex flex-column justify-content-between">
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2> @Model.productDetailsModel.Product.Name</h2>

                            <div>
                                @if ( @Model.productDetailsModel.Product.Rating >= 0 && @Model.productDetailsModel.Product.Rating <= 5)
                                {

                                    var fullStars = (int)Math.Floor( @Model.productDetailsModel.Product.Rating);
                                    var halfStar = ( @Model.productDetailsModel.Product.Rating - fullStars) >= 0.5;
                                    // Boş yıldızların <
                                    var emptyStars = 5 - fullStars - (halfStar ? 1 : 0);


                                    for (int i = 0; i < fullStars; i++)
                                    {
                                        <span class="star full-star">&#9733;</span>
                                    }

                                    if (halfStar)
                                    {
                                        <span class="star half-star">&#9733;</span>
                                    }

                                    for (int i = 0; i < emptyStars; i++)
                                    {
                                        <span class="star">&#9734;</span>
                                    }
                                }
                            </div>
                        
                        </div>
                        <div class="d-flex justify-content-end" style="margin-top:-15px;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="font-size:15px;">
                                    <strong><i class="la la-heart"></i></strong> @Model.productDetailsModel.Product.Favorite
                                    <strong style="margin-left:5px;"><i class="la la-eye"></i> </strong> @Model.productDetailsModel.Product.Clicked
                                </li>
                            </ul>
                        </div>
                        <p style="margin-top:30px;"> @Model.productDetailsModel.Product.Description</p>
                        

                    </div>
                    <div>
                        <div class="d-flex align-items-center justify-content-end">
                            <h3 class="" style="color: #bf1b3c; font-weight:600; margin-right:20px;">$@Model.productDetailsModel.Product.Price</h3>
                            <button id="buyButton" class="btn btn-outline-primary search-button no-outline"
                                    onclick="addToCart(@Model.productDetailsModel.Product.ProductId, @Model.productDetailsModel.Company.CompanyId, getQuantity()); updateBasketCount();"
                                    style="border: 1px solid black; color:black;">
                                Add To Cart
                            </button>
                        </div>
                        <div class="mt-3">

                            <ul class="list-group">


                                @{
            /*
            *  <li class="list-group-item"><strong>Favorites:</strong> @Model.productDetailsModel.Product.Favorite</li>
                                    *     <li class="list-group-item"><strong>Clicks:</strong> @Model.productDetailsModel.Product.Clicked</li>
                                    *    <li class="list-group-item"><strong>Available:</strong> @Model.productDetailsModel.Product.isAvailable</li>
                                    *  <li class="list-group-item"><strong>Created At:</strong> @Model.productDetailsModel.Product.CreatedAt.ToShortDateString()</li>
                                    */
                                }
                                <li class="list-group-item">
                                    <div class="count-control mt-2" style="font-size:14px; color:grey;">
                                        Quantity:
                                        <button type="button" class="btn btn-dark btn-sm count-btn d-flex align-items-center justify-content-center" style="margin-left:10px;" onclick="updateQuantity('decrease')">-</button>
                                        <span id="quantityDisplay" style="margin: 0 10px;">1</span>
                                        <button type="button" class="btn btn-dark btn-sm count-btn d-flex align-items-center justify-content-center" onclick="updateQuantity('increase')">+</button>
                                    </div>
                                    <input type="hidden" id="quantity" name="quantity" value="1">
                                </li>





                                <li class="list-group-item"><strong>Category:</strong> @Model.productDetailsModel.Product.Category</li>
                                <li class="list-group-item"><strong>Stock:</strong> @Model.productDetailsModel.Product.Stock</li>
                        </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- Product Reviews Section -->
    <div class="card mb-4">
        <div class="card-header">
            <h5>Product Reviews</h5>
        </div>
        <div class="card-body">
            <div style="max-height:500px; overflow:scroll;">
            @if (Model.productDetailsModel.ProductReviews.Any())
            {
                int i = 0;

                    foreach (var review in Model.productDetailsModel.ProductReviews)
                    {
                        <div class="mb-3">
                            <h6>
                                @Model.productDetailsModel.ReviewedUsers[i].Name @Model.productDetailsModel.ReviewedUsers[i].Surname
                                <span style="font-size:15px; margin-left:5px;">
                                    @for (int j = 0; j < 5; j++)
                                    {
                                        if (j < review.Rating)
                                        {
                                            <i class="las la-star text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="lar la-star text-warning"></i>
                                        }
                                    }
                                </span>
                            </h6>
                            <p>@review.Review</p>
                            <p style="margin-top: -15px;"><small>Reviewed on @review.CreatedAt.ToShortDateString()</small></p>
                            @if (i < Model.productDetailsModel.ProductReviews.Count - 1)
                            {
                                <hr />
                            }
               
                        </div>
                        i++;
                    }
                }
            else
            {
                <p>No reviews yet.</p>
            }
            </div>
            <!-- Add Review Form -->
            <div class="mt-4" style="border-top: 1px solid #e6e7e8;">
               
                <form method="post" action="@Url.Action("AddReview", "User")">
                    <input type="hidden" name="ProductId" value="@Model.productDetailsModel.Product.ProductId" />

                    <div class="form-group d-flex align-items-center" >
                        <label for="rating" style="margin-right:10px;">Rating</label>
                        <div class="rating">
                            <input type="radio" id="star5" name="Rating" value="5" />
                            <label for="star5" title="5 stars"></label>
                            <input type="radio" id="star4" name="Rating" value="4" />
                            <label for="star4" title="4 stars"></label>
                            <input type="radio" id="star3" name="Rating" value="3" />
                            <label for="star3" title="3 stars"></label>
                            <input type="radio" id="star2" name="Rating" value="2" />
                            <label for="star2" title="2 stars"></label>
                            <input type="radio" id="star1" name="Rating" value="1" />
                            <label for="star1" title="1 star"></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="review">Your Review</label>
                        <textarea id="review" name="Review" class="form-control" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary search-button no-outline" style="margin-top:15px; border:1px solid black; color:black;">Submit Review</button>
                </form>
            </div>



        </div>
    </div>







    <!-- Company Details Section -->
    <div class="card mb-4">
        <div class="card-header">
            <h5>Company Information</h5>
        </div>
        <div class="card-body">
            <div class="d-flex justify-content-around align-items-center">
                <div class="col-md-5 position-relative" >
                    <!-- Banner Image -->
                    <div class="banner-container">
                        <img src="~/images/_Banners/@Model.productDetailsModel.Company.BannerUrl" alt="Company Banner" class="banner-image" />
                    </div>

                    <!-- Logo Image on top of Banner -->
                    <div class="logo-container">
                        <img src="~/images/_Logos/@Model.productDetailsModel.Company.LogoUrl" alt="Company Logo" class="logo-image" />
                    </div>
                </div>




                <div class="col-md-6">
                    <h4>@Model.productDetailsModel.Company.CompanyName</h4>
                    <p>@Model.productDetailsModel.Company.Description</p>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Name:</strong> @Model.productDetailsModel.User.Name @Model.productDetailsModel.User.Surname</li>
                        <li class="list-group-item"><strong>Address:</strong> @Model.productDetailsModel.Company.Address</li>                       
                        @{
                            /*
                            * <li class="list-group-item"><strong>IBAN:</strong> @Model.productDetailsModel.Company.IBAN</li>
                            * <li class="list-group-item"><strong>Tax ID Number:</strong> @Model.productDetailsModel.Company.TaxIDNumber</li>
                            * <li class="list-group-item"><strong>Email:</strong> @Model.productDetailsModel.Company.Email</li>
                            * <li class="list-group-item"><strong>Phone Number:</strong> @Model.productDetailsModel.Company.PhoneNumber</li>
                            */
                        }
                     
                        <li class="list-group-item"><strong>Created At:</strong> @Model.productDetailsModel.Company.CreatedAt.ToShortDateString()</li>
                        <li class="list-group-item"><strong>Rating:</strong> @Model.productDetailsModel.Company.Rating</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>



</div>





@section Scripts {
    <script>


        function addToCart(productId, companyId, quantity){
            $.ajax({
                url: '@Url.Action("AddToCart", "User")',
                type: 'POST',
                data: { productId: productId, companyId: companyId,quantity:quantity }
                
            });
            updateBasketCount();
        }


        function updateQuantity(action) {
            let quantityInput = document.getElementById('quantity');
            let quantityDisplay = document.getElementById('quantityDisplay');
            let quantity = parseInt(quantityInput.value);

            if (action === 'increase') {
                quantity += 1;
            } else if (action === 'decrease' && quantity > 1) {
                quantity -= 1;
            }

            quantityInput.value = quantity;
            quantityDisplay.innerText = quantity;
        }

        function getQuantity() {
            return parseInt(document.getElementById('quantity').value);
        }

</script>
}






<style>
    input:focus,
    input:clicked{
        outline:none;
        box-shadow:none;

    }

     .search-button:hover {
        background-color: #fafafa;
        }

    .no-outline:focus,
    .no-outline:active{
        outline: none;
        box-shadow: none;
    }


      .star {
        font-size: 16px;
    }

    .full-star {
        color: #ffd700;
    }

    .half-star {
        color: #ffd700;
        position: relative;
    }

        .half-star::before {
            content: '\2605';
            color: #000;
            position: absolute;
            left: 0;
            width: 55%;
            overflow: hidden;
        }

    .empty-star {
        color: #d3d3d3;
    }

        .empty-star::before {
            content: '\2605';
            color: #000;
            position: absolute;
            overflow: hidden;
        }



    .btn-like {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .btn-like i {
            color: black; /* Like icon color */
            font-size: 13px;
        }

        .btn-like:hover {
            background-color: rgba(255, 255, 255, 1);
        }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
        top: -10px;
        right: -10px;
    }

    .position-relative {
        position: relative;
    }

    .banner-container {
        width: 100%;
        height: auto; /* Or any height that fits your design */
        overflow: hidden;
        border-radius: 8px; /* Optional: adds rounded corners to the banner */
    }

    .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .logo-container {
        position: absolute;
        bottom: 20px; /* Adjust according to your preference */
        left: 20px; /* Adjust according to your preference */
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #fff; /* Optional: add a border around the logo */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: add a shadow effect */
    }

    .logo-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }



    .rating {
        display: flex;
        direction: rtl;
        font-size: 1.5em;
        unicode-bidi: bidi-override;
        text-align: center;
        user-select: none;
    }

        .rating input {
            display: none;
        }

        .rating label {
            color: #ccc;
            cursor: pointer;
            display: block;
            position: relative;
            width: 1.1em;
        }

            .rating label:before {
                content: '\2605'; /* Star symbol */
            }

        .rating input:checked ~ label {
            color: #f5b301;
        }

        .rating label:hover,
        .rating label:hover ~ label {
            color: #f5b301;
        }


    .count-control {
        display: flex;
        align-items: center;
    }

    .count-input {
        width: 20px;
        height: 15px;
        text-align: center;
        border: 1px solid #000;
        margin: 0 5px;
    }

    .count-btn {
        width: 12px;
        height: 12px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
